.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #7429ed;
}

.logo {     
  color: rgb(244, 9, 9);
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: rgb(255, 5, 5);
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #74abbb;
}
